body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  // font-size: $default-font-size;
  font-size: 16px;
  // line-height: 1.7rem;
  // color: $color-grey--dark;
  color: darken(white, 50%);
}

.heading {
  font-weight: normal;
  margin: 0 auto;
  font-family: $font-concert;
  color: white;
  width: 55rem;
  text-align: center;
}