// FONTS
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

$font-krystal: 'Bangers', cursive;
$font-concert: 'Special Elite', cursive;
$font-scrapbook: 'Titan One', cursive;