.concert-preview {
  
  display: block;
  position: relative;
  background-color: black;
  border-radius: 1rem;
  padding: 1rem;
  height: 30rem;
  min-width: 35rem;
  max-width: 40rem;
  overflow: hidden;
  box-shadow: 7px 7px 7px black;

  &:not(:last-child) {
    margin-bottom: 2rem;
  }

  &__box {
    background-color: #1e1e1e;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & a {
      color: white;
      text-decoration: none;
    }
  }

  &__name {
    position: relative;
    z-index: 2;
    background-color: black;
    color: white;
    display: inline-block;
    width: fit-content;
    padding: .5rem 1rem;
    border-radius: 3px;
  }

  &__image {
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: 1;
    width: 100%;
  }
}