.modal {
    background-color: red;
    color: white;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    
    &__close {
        position: fixed;
        right: 10%;
        top: 3%;
        cursor: pointer;
        display: block;
        height: 4.5rem;
        width: 4.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        background-color: black;
    }


}